*{
    margin: 0;
    padding: 0; 
}

body{
    background: #282828;

}
.drumkit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.pad{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 50%;
   
    background: radial-gradient(purple, white);
    border-radius: 10px;
     
}