body{
    background: radial-gradient(purple,white);
    width: 100%;
    background-attachment: fixed;
}
.set{
    margin-left: 18%;
    margin-top: 10%;
}
.drum{
 display: inline-block;
 width: 150px;
 height: 150px;
 text-align: center;
 background: radial-gradient(pink,white);
 font-size: 70px;
 text-shadow: 2px 2px 2px rgb(247, 81, 114);
 border-radius: 100px;
 box-shadow: 5px 5px 5px crimson;
}
